flows.json
[{"id":"17c2027d.db63ce","type":"tab","label":"Sensor Board","disabled":false,"info":"![enter image description here](https://notenoughtech.com/wp-content/uploads/2020/03/maxresdefault-12-980x551.jpg)\nI got the DockerPi Sensor Hub and I decided to port all the sesnors over to NodeRED.\n\n - [Complete instructions](https://notenoughtech.com/raspberry-pi/dockerpi-sensor-hub/)\n\n**Sesnors**:\n-    External Temperature Sensor -30℃~127℃\n-    OnBoard Temperature DHT11 -20℃~60℃\n-    P. Temperature Sensor -40℃~80℃.\n-    Humidity detection 20% Rh ~ 95% Rh\n-    Light intensity detection 0Lux~1800Lux\n-    Pressure detection 300 Pa ~ 1100 hPa\n-    Presence detection 100 degrees, the maximum distance of 12m\n\n## Get Your DockerPi Sensor Hub:\n\n-    [DockerPi Sensor Hub](https://www.seeedstudio.com/DockerPi-Sensor-Hub-Development-Board-p-4101.html)\n\n**Other HATs:**\n-    [Docker Pi Power Board](http://bit.ly/2mCctyV) [(review)](https://notenoughtech.com/review/52pi-power-board/)\n-    [Channel Relay HAT](http://bit.ly/2nciVwM) [(review)](https://notenoughtech.com/raspberry-pi/dockerpi-4-channel-relay/) \n-    [ICE Tower Cooler](http://bit.ly/2nciVwM) [(review)](https://notenoughtech.com/raspberry-pi/rpi-hat/how-cool-is-52pi-ice-cooling-tower/) \n-    [IoT Node (GPS, GSM, LoRa)](http://bit.ly/2mCI7fH) (review soon)\n-    [NightLigt HAT](http://bit.ly/2nhRkup) (review soon)\n-    [UPS Pro 18650 board](http://bit.ly/343OSYm) [(review)](https://notenoughtech.com/raspberry-pi/rpi-hat/ups-pro-hat/)\n\n## Requirements\n\n - sudo apt-get install python3 python3-smbus\n - node-red-dashboard\n\n\n \n ## More about me:\n\nIf you want to get the latest updates to this project you can follow me via your preferred social media:\n\n-   [Facebook](https://www.facebook.com/NotEnoughTECH/)\n-   [Twitter](https://twitter.com/NotEnoughTECH)\n-   [Instagram](https://www.instagram.com/notenoughtech/)\n-   [YouTube](https://www.youtube.com/user/Polepositionpage)\n\nAnd if you feeling like buying me a coffee or supporting me in a more continuous way:\n\n-   [Paypal](https://www.paypal.me/notenoughtech)\n-   [Patreon](https://www.patreon.com/NotEnoughTECH)\n\nI hope you have enjoyed the project!"},{"id":"4b8247ce.b0e5b8","type":"exec","z":"17c2027d.db63ce","command":"python3 /home/pi/Desktop/alsunga-weather-station/kods.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Sensorhub","x":170,"y":260,"wires":[["971d9fa0.a506d"],[],[]]},{"id":"a5300d3.9bcc8f","type":"inject","z":"17c2027d.db63ce","name":"every 5s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":120,"y":100,"wires":[["4b8247ce.b0e5b8"]]},{"id":"971d9fa0.a506d","type":"json","z":"17c2027d.db63ce","name":"","property":"payload","action":"","pretty":false,"x":330,"y":240,"wires":[["bcf9b7a.893f848","9b176dbf.76ef7","d59316a1.ac7ae8","80e4f7ab.d3ebe8","5b87df23.41d12","6bc76a9e.6b4ae4","ce92dbb7.22f588"]]},{"id":"f2d1f3e0.4df54","type":"ui_gauge","z":"17c2027d.db63ce","name":"intTemp","group":"dab7a3f4.bdfaf","order":1,"width":6,"height":4,"gtype":"gage","title":"intTemp","label":"ºC","format":"{{msg.payload.baroTemp}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1340,"y":160,"wires":[]},{"id":"bcf9b7a.893f848","type":"switch","z":"17c2027d.db63ce","name":"internalSensor","property":"payload.intSensor","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":120,"wires":[["f2d1f3e0.4df54","2b7d68df.65f708","ab85853.6e81178"],[]]},{"id":"9b176dbf.76ef7","type":"switch","z":"17c2027d.db63ce","name":"baroSensor","property":"payload.baroSensor","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":180,"wires":[["9edb13f4.d6e2a","34579a45.1ab4f6","5d2e378f.89f1f8"],[]]},{"id":"9edb13f4.d6e2a","type":"ui_gauge","z":"17c2027d.db63ce","name":"baroTemp","group":"dab7a3f4.bdfaf","order":2,"width":6,"height":4,"gtype":"gage","title":"baroTemp","label":"ºC","format":"{{msg.payload.baroTemp}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1380,"y":240,"wires":[]},{"id":"d59316a1.ac7ae8","type":"switch","z":"17c2027d.db63ce","name":"extSensor","property":"payload.baroSensor","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"overrange","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":240,"wires":[["63666293.e0de3c","638400e0.437b7"],[],[]]},{"id":"63666293.e0de3c","type":"ui_gauge","z":"17c2027d.db63ce","name":"extTemp","group":"dab7a3f4.bdfaf","order":4,"width":6,"height":4,"gtype":"gage","title":"extTemp","label":"ºC","format":"{{msg.payload.extTemp}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1380,"y":340,"wires":[]},{"id":"2b7d68df.65f708","type":"change","z":"17c2027d.db63ce","name":"set intTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.intTemp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"IntTemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":540,"wires":[["299ecde3.e7c082"]]},{"id":"638400e0.437b7","type":"change","z":"17c2027d.db63ce","name":"set extTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.extTemp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"extTemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":620,"wires":[["299ecde3.e7c082"]]},{"id":"34579a45.1ab4f6","type":"change","z":"17c2027d.db63ce","name":"set baroTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.baroTemp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"baroTemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":580,"wires":[["299ecde3.e7c082"]]},{"id":"11e6c77b.3e9a39","type":"ui_gauge","z":"17c2027d.db63ce","name":"baroPressure","group":"dab7a3f4.bdfaf","order":5,"width":6,"height":4,"gtype":"gage","title":"baroPressure","label":"HPa","format":"{{msg.payload.baroPress}}","min":"900","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1020,"y":540,"wires":[]},{"id":"5d2e378f.89f1f8","type":"function","z":"17c2027d.db63ce","name":"convert","func":"var x = msg.payload.baroPress / 100;\n\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":440,"wires":[["11e6c77b.3e9a39"]]},{"id":"ab85853.6e81178","type":"ui_gauge","z":"17c2027d.db63ce","name":"intHumid","group":"dab7a3f4.bdfaf","order":3,"width":6,"height":4,"gtype":"gage","title":"intHumid","label":"%","format":"{{msg.payload.intHumid}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1340,"y":200,"wires":[]},{"id":"c0be06ef.9ec4b8","type":"ui_button","z":"17c2027d.db63ce","name":"Process Motion ","group":"dab7a3f4.bdfaf","order":7,"width":0,"height":0,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1020,"y":640,"wires":[[]]},{"id":"80e4f7ab.d3ebe8","type":"function","z":"17c2027d.db63ce","name":"Motion","func":"var x = msg.payload.humanDet;\n\nif(x === \"true\"){\n    msg.payload = \"DETECTED\";\n    msg.colour = \"green\";\n}\nelse{\n    msg.payload = \"NO MOTION\";\n    msg.colour = \"red\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":600,"wires":[["c0be06ef.9ec4b8"]]},{"id":"5b87df23.41d12","type":"ui_gauge","z":"17c2027d.db63ce","name":"brightness","group":"dab7a3f4.bdfaf","order":6,"width":6,"height":4,"gtype":"gage","title":"brightness","label":"lumens","format":"{{msg.payload.Brightness}}","min":0,"max":"1800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1390,"y":280,"wires":[]},{"id":"fa74f5cc.afaee8","type":"comment","z":"17c2027d.db63ce","name":"Sensor Status","info":"","x":510,"y":60,"wires":[]},{"id":"299ecde3.e7c082","type":"ui_chart","z":"17c2027d.db63ce","name":"","group":"dab7a3f4.bdfaf","order":7,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1590,"y":580,"wires":[[]]},{"id":"ce92dbb7.22f588","type":"delay","z":"17c2027d.db63ce","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":760,"wires":[["85215467.fd7c78"]]},{"id":"85215467.fd7c78","type":"function","z":"17c2027d.db63ce","name":"","func":"var x = msg.payload.baroTemp;\nvar y = msg.payload.Brightness;\nvar f = msg.payload.intHumid;\nvar z = msg.payload.baroPress / 100;\n\nmsg.payload = `Ziņas no Alsungas. Gaisa temperatūra ${x} C. Gaismas daudzums ${y}. Gaisa mitrums ${f}%. Atmosfēras spiediens ir ${z} hPa.`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":820,"wires":[["2efa8732.ab7808"]]},{"id":"2efa8732.ab7808","type":"twitter out","z":"17c2027d.db63ce","twitter":"","name":"Tweet","x":1430,"y":840,"wires":[]},{"id":"56b176fd.03f6e8","type":"google-spreadsheet","z":"17c2027d.db63ce","name":"","auth":"4e7e6c47.e0e8d4","sheet":"1_c95_cexWa2FIt1593kRcmbowUeoNFsVEvHcS2uXnG8","range":"Lapa1","method":"append","direction":"line","action":"set","clear":false,"line":true,"column":true,"fields":"all","save":"_sheet","selfields":["extTemp"],"cell_l":"","cell_c":"","input":"payload","output":"payload","saveType":"global","inputType":"msg","outputType":"msg","sheetType":"str","rangeType":"str","cell_lType":"str","cell_cType":"str","x":1220,"y":1020,"wires":[[],[]]},{"id":"8397e911.5b28e8","type":"change","z":"17c2027d.db63ce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\t        \"RoomTemp\":$.msg.payload.intTemp,\t        \"Brightness\": $.msg.payload.Brightness,\t        \"intHumid\": $.msg.payload.intHumid,\t        \"baroPress\": $.msg.payload.baroPress/100,\t        \"humanDet\": $.msg.payload.humanDet,\t        \"laiks\": $.msg.payload.laiks,\t        \"extTemp\": $.msg.payload.extTemp\t    }\t\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":900,"wires":[["56b176fd.03f6e8"]]},{"id":"6bc76a9e.6b4ae4","type":"function","z":"17c2027d.db63ce","name":"","func":"msg.payload.laiks = new Date().toLocaleString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":680,"wires":[["8397e911.5b28e8"]]},{"id":"dab7a3f4.bdfaf","type":"ui_group","name":"Sensor Hub","tab":"fc570b24.17dae8","order":1,"disp":true,"width":"12","collapse":false},{"id":"4e7e6c47.e0e8d4","type":"google-service-account","name":"alsunga.iot","scope":["https://www.googleapis.com/auth/spreadsheets"],"way":"json","check_dialogflow":"","check_speech":""},{"id":"fc570b24.17dae8","type":"ui_tab","name":"SensorBoard","icon":"dashboard","order":8,"disabled":false,"hidden":false}]